In [1]:
import pandas as pd
import mysql.connector
db_config = {
    "host": "localhost",
    "user": "root",
    "password": "123456",
    "database": "aitooldb",
    # "database": "blog2",
}

In [13]:
def insert_data_into_mysql(create_table_query,db_config, table_name, data):
    try:
        conn = mysql.connector.connect(**db_config)
        print("数据库连接成功")
    except mysql.connector.Error as e:
        print(f"数据库连接失败: {e}")
        return
    
    try:
        cursor = conn.cursor()
        cursor.execute(create_table_query)
        print(f"数据表{table_name}创建成功")
    except mysql.connector.Error as e:
        print(f"数据表{table_name}创建失败: {e}")

    try:
        data = data.astype(str)
        data_insert = [tuple(row) for row in data.values]
        data_columns = ','.join(list(data.columns))
        insert_s = ','.join(['%s' for _ in list(data.columns)])
        insert_query = f"INSERT INTO {table_name} ({data_columns}) VALUES ({insert_s})"
        print(insert_query)
        cursor.executemany(insert_query, data_insert)
        conn.commit()
        cursor.close()
        conn.close()
        print('数据插入成功')
    except mysql.connector.Error as e:
        print(f"数据插入失败: {e}")

In [14]:
block_widgets = """
CREATE TABLE `block_widgets`  (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `icon_url` varchar(200) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL,
  `display_order` int NULL DEFAULT 0,
  `is_visible` tinyint(1) NULL DEFAULT 1,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 2 CHARACTER SET = utf8mb3 COLLATE = utf8mb3_general_ci ROW_FORMAT = Dynamic;"""

In [15]:
block_widgets_pd = pd.read_csv('block_widgets.csv')
insert_data_into_mysql(
    create_table_query = block_widgets,
    db_config = db_config,
    table_name = 'block_widgets',
    data = block_widgets_pd)

数据库连接成功
数据表block_widgets创建成功
INSERT INTO block_widgets (id,icon_url,name,display_order) VALUES (%s,%s,%s,%s)
数据插入成功

In [16]:
module_widgets = """
CREATE TABLE `module_widgets`  (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `url` varchar(200) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `icon_url` varchar(200) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NULL DEFAULT NULL,
  `display_order` int NULL DEFAULT 0,
  `is_visible` tinyint(1) NULL DEFAULT 1,
  `father_id` int NOT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 5 CHARACTER SET = utf8mb3 COLLATE = utf8mb3_general_ci ROW_FORMAT = Dynamic;
"""

In [17]:
module_widgets_pd = pd.read_csv('module_widgets.csv')
insert_data_into_mysql(
    create_table_query = module_widgets,
    db_config = db_config,
    table_name = 'module_widgets',
    data = module_widgets_pd)

数据库连接成功
数据表module_widgets创建成功
INSERT INTO module_widgets (id,name,url,icon_url,display_order,father_id) VALUES (%s,%s,%s,%s,%s,%s)
数据插入成功

In [18]:
widget_assignments = """
CREATE TABLE `widget_assignments`  (
  `id` int NOT NULL AUTO_INCREMENT,
  `block_id` int NOT NULL,
  `module_id` int NOT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE INDEX `block_id`(`block_id` ASC, `module_id` ASC) USING BTREE
) ENGINE = InnoDB CHARACTER SET = utf8mb3 COLLATE = utf8mb3_general_ci ROW_FORMAT = Dynamic;
"""

In [19]:
# widget_assignments_pd = pd.read_csv('widget_assignments.csv')
# insert_data_into_mysql(
#     create_table_query = widget_assignments,
#     db_config = db_config,
#     table_name = 'widget_assignments',
#     data = widget_assignments_pd)